<div class="signup">
<h1>Subscriber Registration</h1>
 
  <%= form_for @subscriber do |f| %>
    <% if @subscriber.errors.any? %>
      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

   <div class="formfield">
    <p><%= f.label :name %><br>
    <%= f.text_field :name%></p>
   
    <p><%= f.label :email %><br>
    <%= f.text_field :email%></p>
   
    <p><%= f.label :phone %><br>
    <%= f.text_field :phone%></p>
  </div>
   
    <%= f.submit :class=> "round button"%>
<% end %>

</div>